
@font-face {
  font-family: 'myfont1';
  src: url('../fonts/arial.ttf') format('truetype');
}

@font-face {
  font-family: 'myfont1';
  src: url('../fonts/arialbd.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'myfont1';
  src: url('../fonts/arialbi.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'myfont1';
  src: url('../fonts/ariali.ttf') format('truetype');
  font-style: italic;
}

* {
  font-family: 'myfont1';
  
}

html {
    scroll-behavior: smooth;
  }

  
/********************* header ***********************************/
.logo {
    width: 50%;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: black;
    z-index: 999;
    transition: top 1s;
}

.navscroll {
  overflow-y: auto !important;
  max-height: 200px !important;
}

.tickets {
    border-radius: 20px;
    width: fit-content;
    vertical-align: middle;
    background-color: #f82249;
    border: 2px solid #f82249;
    transition: all ease-in-out 0.3s;
    margin-top: 1vh;
    font-size: 14px;
}

.tickets:hover {
    background: none;
}

.height {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#collapsibleNavbar {
  font-size: 16px;
}

.nav-link {
  cursor: pointer;
}

/**************************************************************/
 


/********************home section********************************/
.home-section {
    background:linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(6, 12, 34, 0.8)
      ), url("../images/intro-bg.jpg");
    color: white;
    width: 100%;
    padding-top: 20vh;
    text-align: center;
    font-weight: bold;
    background-attachment: fixed;
}

.home-motto {
    font-size: 4vw;
    margin-top: 1em;
}

.home-half-motto {
    text-align: center;
    font-size: 1.1em;
}

.video-button {
    width: 100px;
    height: 100px;
    background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.2) 52%);
    border-radius: 50%;
    display: block;
    color: white;
    border: none;
    margin: auto;
}

.video-button:hover {
  animation-name: anime;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-color: #97031e;
  color: white;
}

.video-button:focus {
  outline: none;
}

/*video button animation */
@keyframes anime {
  0% {background-color: #d6697d; transform: rotate(0deg); -webkit-transform: rotate(0deg);}
  10% {background-color: #d6697d; transform: rotate(36deg); -webkit-transform: rotate(36deg);}
  20% {background-color: #d1546b; transform: rotate(72deg); -webkit-transform: rotate(72deg);}
  30% {background-color: #ce586d; transform: rotate(108deg); -webkit-transform: rotate(108deg);}
  40% {background-color: #ce586d; transform: rotate(144deg); -webkit-transform: rotate(144deg);}
  50% {background-color: #cc2c49; transform: rotate(180deg); -webkit-transform: rotate(180deg);}
  60% {background-color: #cc2c49; transform: rotate(216deg); -webkit-transform: rotate(216deg);}
  70% {background-color: #a10d28; transform: rotate(252deg); -webkit-transform: rotate(252deg);}
  80% {background-color: #a10d28; transform: rotate(288deg); -webkit-transform: rotate(288deg);}
  90% {background-color: #97031e; transform: rotate(324deg); -webkit-transform: rotate(324deg);}
  100% {background-color: #97031e; transform: rotate(360deg); -webkit-transform: rotate(360deg);}
}

.about-the-event-button {
  border-radius: 20px;
  width: fit-content;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 16px;
  border: 2px solid #f82249;
  transition: all ease-in-out 0.5s;
  margin: 50px 0 8vh 0;
  padding: 0 20px 0 20px;
}

.about-the-event-button:hover {
  color: white;
  background-color: #f82249;
  transition: all ease-in-out 0.5s;
}

.about-the-event-button:focus {
  outline: none;
}

#videoModal {
  padding-top: 10vh;
  background-color: none;
}

#modalbody {
  background-color: black;
  height: 70vh;
}

iframe {
  height: 60vh;
  width: 420px;
  margin: auto;
  display: block;
}
/* ********************************************************** */

/* *********************about section************************ */

.about-section {
  background: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(6, 12, 34, 0.5)
  ), url("../images/about-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: left;
  text-align: left;
  color: white;
  padding-top: 80px;
}

#about-heading1 {
  font-weight: bold;
  font-size: 2em;
}

#about-heading2, #about-heading3 {
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 2em;
}
/***************************************************************/

/* ********************speakers section*********************** */

.event-speakers {
  font-size: 2em;
}

#speakers {
  padding-top: 80px;
}

#red_underscore {
  border-bottom: solid 5px #f82249;
  width: 3.5em;
  text-align: center;
  margin: auto;
}

.speakers_img {
  width: 100%;
}

.speakers_grid {
  padding-left: 10%;
  padding-right: 10%;
}

.sp_img_container {
  position: relative;
  color: #fff;
  margin-bottom: 30px;
}

.sp_img_container .sp_img_text {
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  height: match-parent;
}

.sp_img_text {
  text-align: center;
  line-height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 92%;
}

.speakers_grid .fa {
  font-size: 18px;
}

.speakers_grid .fa:hover, .speakers_grid h4:hover {
  color: #f82249;
  transition: 0.5s;
  cursor: pointer;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

.h5 {
  color: rgb(180, 173, 173);
  font-weight: lighter;
}
/***************************************************************/

/*****************************shcedule section******************/

#schedule {
  padding-top: 80px;
}

.schedule-days {
  background-color: #0e1b4d;
  color: white;
  width: 150px;
  border-radius: 25px;
}

.schedule-days:hover {
  color: white;
}

.schedule-days:active, .schedule-days:focus {
  outline: 0 !important;
  box-shadow: none;
  background-color: #f82249;
  color: white;
}

.schedule-days:target {
  background-color: #f82249;
}

.days-container {
  text-align: center;
}

.active2 {
  background-color: #f82249;
}

.sch-table {
  margin: auto; 
  width: 80vw;
}

.sch-row {
  border-bottom: solid 1px #cad4f6;
  color: #19328e;
  padding-bottom: 10px;
  margin-top: 10px;
}

span.font-italic {
  color: #1939af;
  
}

#day2, #day3 {
  display: none;
}

.sch-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

/***************************************************************/

/******************venue section*******************************/

#venue {
  text-align: center;
  padding-top: 80px;
}

.venue-map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.venue-map {
  padding-right: 5px;
  padding-left: 5px;
}

#venue .venue-info {
  background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(6, 12, 34, 0.8)), url("../images/venue-info-bg.jpg");
  background-size: cover;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  
}

#venue .venue-info h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.venue-gal-img {
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: all 0.3s ease-in;
  margin: 3px;
  overflow: hidden;
}

.venue-gal-img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

#venue .col-lg-3 {
  padding-left: 0;
  padding-right: 5px;
}
/**********************************************************************/

/*****************************hotels section**************************/

#hotels {
  padding-top: 80px;
  text-align: center;
}

.hotel-title {
  color: #152b79;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.fa-star, .fa-star-half-full {
  color: #ffc31d;
}

.hotel-container #hot1, .hotel-container #hot2, .hotel-container #hot3{
  overflow: hidden;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

#hot1:hover, #hot2:hover, #hot3:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hotel-container .card {
  overflow: hidden;
}

/* ******************************************************************* */

/* ********************************gallery section******************** */

#gallery {
  padding-top: 80px;
  text-align: center;
}

.carousel-inner img {
  width: 50%;
  height: 70%;
}

.carousel {
  width: 100%;
  margin: auto;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/* ******************************************************************** */

/* *************************sponors section***************************** */

#sponsors {
  padding-top: 80px;
  text-align: center;
  /* width: 10%; */
}

.sponsor-img {
  /* border: solid 1px lightgray; */
  padding: 50px;
  width: 100%;
  overflow: hidden;
  
  transition: 0.5s ease-in-out;
}

.sponsor-img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.spon {
  overflow: hidden;
  border-right: 1px solid #e0e5fa;
  border-bottom: 1px solid #e0e5fa;
}

.spon-row {
  border-top: 1px solid #e0e5fa;
  border-left: 1px solid #e0e5fa;
}
/* ******************************************************************* */

/* *******************faq section************************************* */

#faq {
  padding-top: 80px;
  text-align: center;
}

.card-header, .card-body {
  border: none;
  text-align: left;
}

.card-header {
  font-weight: bold;
}

#faq .card {
  border: none;
  border-bottom: solid 1px #ddd;;
  border-radius: 0%;
}


#faq-collapse .card-header a.collapsed{
  color: black;
}

#faq .card {
  margin: auto;
}

#faq #faq-collapse {
  width: 95%;
  margin: auto;
}

.fa-plus-circle {
  float: right;
}

a[aria-expanded="true"] {
    color: red;
}

#faq-collapse a {
  text-decoration: none;
}
/* ******************************************************************** */

/* ************************newsletter section************************** */

#news {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 80px;
  text-align: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(6, 12, 34, 0.5)
  ), url("../images/subscribe-bg.jpg");
  background-attachment: fixed;
}

#news .news-button {
    border-radius: 50px;
    width: fit-content;
    background-color: #f82249;
    border: none;
    transition: all ease-in-out 0.3s;
    font-size: 16px;
    color: white;
    height: 38px;
    width: 100px;
}

.news-button:focus {
  outline: none;
}

#news input[type="email"] {
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0;
  padding: 9px 20px;
  border-radius: 50px;
  font-size: 14px;
}

#news input[type="email"]:focus {
  outline: none;
  box-shadow: none;
}
/* ************************************************************************* */

/* **********************buy tickets section******************************** */

#buy {
  padding-top: 80px;
  text-align: center;
}

#buy .card {
  box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.3);
  transition: all  0.3s ease-in-out;
}

#buy .card:hover {
      box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.5);
}

#buy .text-muted {
  opacity: 0.7;
}

.card-title:hover {
  cursor: auto;
}

.price {
  font-size: 48px;
  font-weight: normal;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fa-check, .fa-times {
  margin-right: 10px;
}

.buy-button {
  border-radius: 50px;
  width: fit-content;
  background-color: #f82249;
  border: none;
  transition: all ease-in-out 0.3s;
  font-size: 16px;
  color: white;
  padding: 10px 40px;
  margin: auto;
}

.buy-button:hover {
  background-color: #e0072f;
}

.buy-button:focus {
  outline: none;
}

#buy .modal-title {
  font-size: 1.5em;
  /* margin-bottom: 10px; */
}

#buy .modal-header {
  margin-bottom: 20px;
}

#buy .form-control {
  width: 95%;
  margin: auto;
  border-radius: 0;
}


/* ************************************************************************* */

/* ************contact us section****************************************** */

#contact {
  padding-top: 80px;
  text-align: center;
}

#contact .contact-title {
  color: #112363;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

#contact .form-control {
  border-radius: 0;
}

/****************************************************************************/

/* ************************footer section*********************************** */

#footer {
  padding: 50px;
  text-align: left;
  background-color: black;
  color: white;
  font-size: 14px;
}

#footer footer{
  padding-bottom: 50px;
}

#footer img {
  width: 50%;
}

#footer h4 {
  border-bottom: 2px solid #f82249;
  padding-bottom: 15px;
}

#footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#footer ul li {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1pt rgba(128, 128, 128, 0.356);
}

#footer .col-lg-3 {
  padding-left: 0;
  padding-right: 50px;
  margin-top: 30px;
}

#footer .fa-angle-right {
  color: #f82249;
  margin-right: 10px;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: #f82249;
  transition: 0.5s;
  text-decoration: none;
}

#footer .social-links .fa, #copyright .fa{
  font-size: 16px;
  display: inline-block;
  background: #222636;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.5s;
}

#footer .social-links .fa:hover, #copyright .fa:hover {
  color: white;
  background-color: #f82249;
  transition: 0.5s;
}

#copyright {
  background-color: #040919;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 14px;
}

#copyright span {
  font-weight: bold;
}

#copyright span2 {
  color: #f82249;
}